<div class="bg-gray-800 rounded-lg p-4 flex flex-col">
  <div class="p-4 border-b border-gray-700">
    <h2 class="text-2xl font-bold">Clasificación</h2>
  </div>

  <%# Opciones del menu: Global | Jornada %>
  <div class="flex justify-center p-4 border-b border-gray-700">
    <button id="general-tab"
            class="tab-button active px-4 py-2 mx-1 border-2 border-gray-700 rounded-lg bg-white text-black transition-colors duration-200"
            onclick="showContent('general')">
      General
    </button>
    <button id="jornada-tab"
            class="tab-button px-4 py-2 mx-1 border-2 border-gray-700 rounded-lg text-white hover:bg-gray-700 transition-colors duration-200"
            onclick="showContent('jornada')">
      Jornada
    </button>
  </div>

  <div class="flex-1 overflow-y-auto">
    <%# Standings globales %>
    <div id="general-content" class="content p-4 space-y-4">
      <% standings[:total].each_with_index do |player, index| %>
        <%= render partial: "fantasy/partials/standings_card", locals: {player: player, index: index+1} %>
      <% end %>
    </div>

    <%# Standings de la jornada %>
    <div id="jornada-content" class="content p-4 space-y-4 hidden">
      <% standings[:gameweek].each_with_index do |player, index| %>
        <%= render partial: "fantasy/partials/standings_card", locals: {player: player, index: index+1} %>
      <% end %>
    </div>
  </div>
</div>

<%# JS para activar el menu %>
<script>
  function showContent(tab) {
    // Change active button
    var activeButton = document.querySelector('.active');
    activeButton.classList.remove('bg-white', 'text-black', 'active');
    activeButton.classList.add('text-white', 'hover:bg-gray-700');

    // Get new active button
    var newActiveButton = document.getElementById(tab + '-tab');
    newActiveButton.classList.remove('text-white', 'hover:bg-gray-700');
    newActiveButton.classList.add('bg-white', 'text-black', 'active');

    // Hide all content divs
    document.querySelectorAll('.content').forEach(content => content.classList.add('hidden'));

    // Show selected content
    document.getElementById(tab + '-content').classList.remove('hidden');
  }
</script>
