<div class="flex flex-col">
  <div class="header">
    <h1>Fantasy MARCA Dashboard</h1>
  </div>
  
  <div class="general-info">
    <h2>Información General</h2>

    <div class="grid gap-y-2 grid-cols-auto">
      <%# For each transfer on @feed_data render a trasfer_card.html.erb %>
      <% @feed_data.each do |transfer| %>
        <%# <%= render 'fantasy/partials/transfer_card', data: transfer %>
        <%= render partial: 'fantasy/partials/transfer_card', locals: { transfer: transfer } %>
      <% end %>  
    </div>

  </div>
</div>