<% content_for :title, "Mercado" %>

<%= render partial: "fantasy/partials/page_layout", locals: {
  info: @market_data[:info],
  additional_stats: capture do %>
    <div>
      <span class="text-gray-400 text-sm">Último cambio</span>
      <% if @top_data[:diff].present? %>
      <p class="text-xl font-semibold <%= @top_data[:diff] < 0 ? 'text-red-500' : 'text-green-500' %>">
        <%= format_value(@top_data[:diff]) %>
        </p>
      <% else %>
        <p class="text-xl font-semibold text-gray-400">
          ?
        </p>
      <% end %>
    </div>
  <% end,
  title: "Jugadores en el Mercado",
  sidebar: render(partial: "fantasy/partials/market/sidebar", locals: { offers: @offers }),
  content: render(partial: "fantasy/partials/market/content", locals: { filtered_market: @filtered_market })
} %>
