<% content_for :title, params[:user_id].present? ? "Equipo de #{@standings_data[:total].find { |u| u.id == params[:user_id] }&.name}" : "Mi Equipo" %>

<% team_value = @team_data[:players]&.sum(&:value) || 0 %>
<% current_balance = @team_data[:info][:current_balance].to_s.gsub(/[^\d-]/, '').to_i if @team_data[:info][:current_balance] %>

<%= render partial: "fantasy/partials/page_layout", locals: {
  info: @team_data[:info],
  additional_stats: render(partial: "fantasy/partials/team/additional_stats",
    locals: {
      team_data: @team_data,
      team_value: team_value,
    }
  ),
  title: params[:user_id].present? ? "Plantilla de #{@standings_data[:total].find { |u| u.id == params[:user_id] }&.name}" : "Plantilla",
  sidebar: render(partial: "fantasy/partials/team/sidebar"),
  content: render(partial: "fantasy/partials/team/content", locals: { filtered_players: @filtered_players })
} %>

<%# Request updated data after initial load %>
<div id="team-content-update"
     data-controller="fantasy--delayed-load"
     data-fantasy--delayed-load-url-value="<%= team_path(format: :turbo_stream, user_id: params[:user_id]) %>">
</div>
