<% content_for :title, "Mi Equipo" %>

<div class="flex flex-col">
  <div class="bg-gray-800 rounded-lg p-4">
    <div class="p-4 border-b border-gray-700">
      <h2 class="text-2xl font-bold">Mi Plantilla</h2>
    </div>

    <div class="overflow-y-auto flex-1 p-4">
      <div class="space-y-4">
        <% if @team_data[:players]&.any? %>
          <% @team_data[:players].each do |player| %>
            <%= render partial: "fantasy/partials/player_card", locals: { player: player } %>
          <% end %>
        <% else %>
          <div class="text-center py-8">
            <p class="text-gray-400">No hay jugadores en tu equipo</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
