<%# Team content with player cards %>
<%= turbo_frame_tag "team-content", class: "flex-1 min-h-0 overflow-auto" do %>
  <div class="p-4 flex flex-col gap-2">
    <% if filtered_players.any? %>
      <% filtered_players.each do |player| %>
        <%= render partial: "fantasy/partials/player_card", locals: { player: player } %>
      <% end %>
    <% else %>
      <div class="text-center text-gray-400 py-8">
        No se encontraron jugadores
      </div>
    <% end %>
  </div>
<% end %>
