<div id="feed-10997502" class="card card-clauses_drops" data-comments="0">

  <div class="head">
    <div class="title">Nuevas bajadas de cláusulas</div>
    <div class="date">hace 7 horas</div>
  </div>

  <ul class="player-list">
    <li>
      <div class="item">
        <div class="title">
          <strong>Juan Cruz</strong>, de
          <em>Marcos
          </em>
        </div>
        <div class="player-row">
          <a class="btn btn-sw-link player" href="players/51060/juan-cruz" data-title="Juan Cruz">
            <div class="icons">
              <img class='team-logo' width='20' height='20' src='https://cdn-fantasy.marca.com/file/cdn-common/teams/49.png?version=20240916' loading='lazy'>
              <i class="pos-3"></i>
              <div class="points" data-points="33">33</div>
            </div>
            <div class="player-pic qd-player " data-id_player="51060">
              <img src="https://cdn-fantasy.marca.com/file/cdn-common/players/51060.png?version=20240616124532" loading="lazy">
            </div>
          </a>

          <div class="flow">
            <div class="price red">
              <span>▾</span>
              11,80M</div>
            <svg>
              <use href="/img/marca/sprite.svg?1725437870#arrow"></use>
            </svg>
            <div class="price">35,40M</div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="footer">
    <div class="buttons">
      <button class="btn btn-border btn-comment btn-sw" data-url="comments/10997502">Comentar</button>
    </div>
    <ul class="btn comments btn-sw" data-url="comments/10997502"></ul>
  </div>
</div>
