<div id="feed-13016800" class="card card-gameweek_end" data-comments="0">

  <div class="head">
    <div class="title">Fin de la
      <strong>jornada 15</strong>
    </div>
    <div class="date">hace 12 horas</div>
  </div>

  <ul class="user-list">
    <li>
      <div class="user-row">
        <a class="btn btn-sw-link user" href="users/671733/juan" data-title="Juan">
          <div class="position">1</div>
          <div class="pic" style="background-color: #bdbdbd">
            <span>J</span>
            <img src="https://cdn-fantasy.marca.com/file/cdn-marca/users/66cbf4ea075e3.png" onerror="this.style.display='none'" loading="lazy">
          </div>

          <div class="info">
            <div class="name">Juan</div>
            <div class="green">+6.700.000</div>
          </div>
          <div class="points">
            <div class="value">62</div>
            <div class="label">pts</div>
          </div>
        </a>
      </div>
    </li>
    <li>
      <div class="user-row">
        <a class="btn btn-sw-link user" href="users/696343/marco" data-title="Marco">
          <div class="position">2</div>
          <div class="pic" style="background-color: #9575cd">
            <span>M</span>
            <img src="https://cdn-fantasy.marca.com/file/cdn-marca/users/67127f2fa2e18.png" onerror="this.style.display='none'" loading="lazy">
          </div>

          <div class="info">
            <div class="name">Marco</div>
            <div class="green">+10.400.000</div>
          </div>
          <div class="points">
            <div class="value">59</div>
            <div class="label">pts</div>
          </div>
        </a>
      </div>
    </li>
    <li>
      <div class="user-row">
        <a class="btn btn-sw-link user" href="users/671427/marcos-" data-title="Marcos ">
          <div class="position">3</div>
          <div class="pic" style="background-color: #ff8a65">
            <span>M</span>
            <img src="https://cdn-fantasy.marca.com/file/cdn-marca/users/67044de70ee2c.png" onerror="this.style.display='none'" loading="lazy">
          </div>

          <div class="info">
            <div class="name">Marcos
            </div>
            <div class="green">+4.500.000</div>
          </div>
          <div class="points">
            <div class="value">45</div>
            <div class="label">pts</div>
          </div>
        </a>
      </div>
    </li>
    <li>
      <div class="user-row">
        <a class="btn btn-sw-link user" href="users/671205/florentineiro-pereceiro" data-title="Florentineiro Pereceiro">
          <div class="position">4</div>
          <div class="pic" style="background-color: #fff176">
            <span>FP</span>
            <img src="https://cdn-fantasy.marca.com/file/cdn-marca/users/6709b71f6ef35.png" onerror="this.style.display='none'" loading="lazy">
          </div>

          <div class="info">
            <div class="name">Florentineiro Pereceiro</div>
            <div class="green">+4.000.000</div>
          </div>
          <div class="points">
            <div class="value">40</div>
            <div class="label">pts</div>
          </div>
        </a>
      </div>
    </li>
  </ul>

  <div class="footer">
    <div class="buttons">
      <button class="btn btn-border btn-comment btn-sw" data-url="comments/13016800">Comentar</button>
    </div>
    <ul class="btn comments btn-sw" data-url="comments/13016800"></ul>
  </div>
</div>
